#paxButton {
    width: 100%;
}

#childDropdown, #adultDropdown {
    width: 100%;
}

#paxCard {
    padding: 5px;
    border: 2px solid #dfdfdf;
    box-shadow: 0 8px 4px lightgrey;
}

#right-side {
    background-color: #F9FAFB;
    padding: 10px;
    box-shadow: 0 2px 2px lightgrey;
    border-radius: 5px;

}

.timingButtons:hover {
    background-color: #fc6c3f;
    color: white !important;
}